@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjeLayout.cshtml";
}
<div class="container">
    <!--HOME START-->
    <section class="home">
        <div class="content">
            <h3>KEDİLER VE</h3>
            <h3>KEDİLER </h3>
            <p>Kedileri sevin öpün ve yiyin.</p>
        </div>
    </section>
    <!--HOME END-->
    <!--LİST START-->
    <section>
        <br />
        <br />
        <div class="cat-list-container">
            <h1 class="cat-list-title">
                KEDİ CİNS VE ÖZELLİKLERİ HAKKINDA HER
                ŞEY
            </h1>
            <h3 class="cat-list-title">Kısa Tüylü Kedi Cinsleri</h3>
            <p class="cat-list-title">
                Pek çoğumuz tüy döküyor diye kedi sahiplenmekten çekiniyoruz.
                Özellikle kedi alerjisi olan kişiler için bir kedi sahibi olmak
                dökülen tüyler sebebi ile bir hayal olabiliyor.
                Tüylü olmaları ile tanınan sevimli dostlarımızın tüy dökmemesi
                pek çoğumuz için imkânsız olsa da bazı ırkların
                tüy dökme süreci doğru yaklaşımla kontrol altına alınabilir.İşte
                bu ırklar:
            </p>
            <div class="cat-list-wrapper">
                <ul class="cat-list">
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/devon_rex.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Devon Rex</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/mavi_rus.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Mavi Rus Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img"
                             src="~/resimler/british_shorthair.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">
                                British Short
                                Hair
                            </span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/bengal.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Bengal Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img"
                             src="~/resimler/scottish_fold.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Scottish Fold</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/siyam.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Siyam Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img"
                             src="~/resimler/exotic_short_hair.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Exotic Short Hair</span>
                        </div>
                    </li>
                </ul>
                <i class="bi bi-chevron-right arrow"></i>
            </div>
        </div>
        <div class="cat-list-container">
            <h3 class="cat-list-title">Uzun Tüylü Kedi Cinsleri</h3>
            <p class="cat-list-title">
                Uzun tüylü kediler pofuduk halleri ile kalpleri çok kolay
                çalabilirler.Bu kedilerin ortak özelliklerinden birisi her gün düzenli olarak
                taranma
                ihtiyaçlarının olmasıdır.Bu düzenli taranma tüylü dostlarımızın
                sağlığını etkileyen bir ihtiyaçtır.Aksi takdirde kedinin tüylerinde karışıklıklar
                ve
                topaklanmalar meydana gelir.Bu durum kediler için ağrılıdır.İşte
                bu ırklar:
            </p>
            <div class="cat-list-wrapper">
                <ul class="cat-list">
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/iran.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">İran Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/van.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Van Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/maine_coon.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Maine Coon</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/ragdoll.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Ragdoll</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/munchkin.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Munchkin Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/balinese.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Balinese</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/ankara.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Ankara Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/birman.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Birman</span>
                        </div>
                    </li>
                </ul>
                <i class="bi bi-chevron-right arrow"></i>
            </div>
        </div>
        <div class="cat-list-container">
            <h3 class="cat-list-title">Tüysüz Kedi Cinsleri</h3>
            <p class="cat-list-title">
                İlk bakışta bize farklı gelen bu kedi türleri, alışılagelmiş
                tüylü kedi düşüncesinden olsa gerek insanlar arasında oldukça popüler hale
                gelmiştir.
                Aslında diğer tüylü dostlarımızdan bir farkı yok. İlk bakıştı çok
                sert görünse de o da her kedi gibi sıcacık bir kalbe sahiptir.
            </p>
            <div class="cat-list-wrapper">
                <ul class="cat-list">
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/sfensk.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Sfensk Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/bambino.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Bambino Kedisi</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/donskoy.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Donskoy</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/peterbald.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Peterbald</span>
                        </div>
                    </li>
                    <li class="cat-item">
                        <img class="cat-item-img" src="~/resimler/levkoy.jpg" />
                        <div class="cat-item-info">
                            <span class="cat-item-title">Levkoy Kedisi</span>
                        </div>
                    </li>
                </ul>
                <i class="bi bi-chevron-right arrow"></i>
            </div>
        </div>
    </section>
    <!--LİST END-->
    <section class="gecis"></section>
    <!--CONTACT START-->
    <section>
        <div class="contactcontainer">
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                    <h2>Bana Ulaşın</h2>
                    <input type="text" class="field" placeholder="Adınız" />
                    <input type="email" class="field" placeholder="E-mail" />
                    <input type="text" class="field" placeholder="Telefon" />
                    <textarea class="field area"
                              placeholder="Mesajınız"></textarea>
                    <button class="btn">Gönder</button>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT END-->
</div>
<script>
    const arrows = document.querySelectorAll(".arrow");
    const catList = document.querySelectorAll(".cat-list");
    arrows.forEach((arrow, i) => {
        let clickCounter = 0;
        const imageİtem = catList[i].querySelectorAll("img").length;
        console.log(imageİtem);
        arrow.addEventListener("click", function () {
            clickCounter++;
            if (imageİtem - (5 + clickCounter) >= 0) {
                catList[i].style.transform =
                    `translateX(${catList[i].computedStyleMap().get("transform")[0].x.value -
                    270}px)`
            }
            else {
                catList[i].style.transform = "translateX(0)";
                clickCounter = 0;
            }
        });
    });
</script>
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("header").style.top = "0";
        } else {
            document.getElementById("header").style.top = "-100vh";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
